@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.2);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.2);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.2);
}

:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.2);
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

#top {
    display: none;
}

#top ul li a, #top div.right ul li a, #top div.right a.languages {
    color: rgba(158, 168, 193, 0.7);
}

#top ul li, #top div.right ul li, #top div.right a.languages {
    padding-left: 17px;
    padding-right: 17px;
}

#top ul li, #top div.right ul li, #top div.right a.languages {
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
    background-position: right top;
}

html, body {
    font-family: Arial, "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
}

body {
    background-image: "{% static 'images/bg_1.jpg'%}";
    background-repeat: no-repeat;
    background-size: cover;
}

ul, h3, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.clear {
    clear: both;
}

#top {
    background-image: url("../img/bg_top.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
}

#top ul {
    float: left;
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
}

#top ul li {
    float: left;
}

#top div.right {
    float: right;
}

#top div.right ul {
    float: left;
}

#top div.right ul li {
    float: left;
}

#top div.right a.languages {
    float: left;
}

#top div.right a.languages span.i {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-left: 20px;
    background-image: url("../img/icon_arrow.png");
    background-repeat: no-repeat;
    background-position: 10px -40px;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -216px;
    margin-left: -140px;
}

#logo a.logo img {
    text-align: left;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 330px;
    height: 300px;
    margin-top: -178px;
    margin-left: -165px;
}

#main div.login {
    margin-top: 78px;
    color: #fff;
    font-size: 14px;
}

#main div.login div.title,
#main div.register div.title,
#main div.forget_password div.title {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 12px;
    float: left;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.75);
}

#main div.login div.msg {
    color: #fff7a0;
    font-size: 14px;
    line-height: 16px;
    float: right;
    margin-right: 25px;
    text-shadow: 1px 1px 4px rgba(32,28,2,0.75);
}

#main div.login input.txt,
#main div.register input.txt,
#main div.forget_password input.txt {
    width: 302px;
    height: 37px;
    font-size: 14px;
    padding-left: 11px;
    border: solid 1px rgba(0, 0, 0, 0.74);
    background-color: rgba(0, 0, 0, 0.5);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: rgba(255, 255, 255, 0.25) 1px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.25) 1px;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1,MakeShadow=true,ShadowOpacity=0.25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=1,MakeShadow=true,ShadowOpacity=0.25)";
    box-shadow: rgba(255, 255, 255, 0.25) 1px;
}


#main div.login input.txt:focus,
#main div.register input.txt:focus,
#main div.forget_password input.txt:focus {
    color: #FFFFFF;
    font-size: 14px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.75);
}

#main div.login input.btn.signin:focus ,
#main div.register input.btn.signup:focus,
#main div.forget_password input.btn.send:focus {
    outline: none;
    border: 1px solid transparent;
}

#main div.login input.txt.error,
#main div.register input.txt.error,
#main div.forget_password input.txt.error {
    border: 1px solid rgba(255, 193, 60, 0.8);
}

#main div.login input.uname {
    margin-bottom: 9px;
}

#main div.login input.pwd {
    margin-bottom: 9px;
}

#main div.login input.checkcode {
    margin-bottom: 17px;
    width: 202px;
}

#main div.login input.btn {
    width: 100%;
    height: 36px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#main div.login input.signin,
#main div.register input.signup,
#main div.forget_password input.send {
    margin-bottom: 11px;
    width: 302px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYTNlMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODZkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');

    background: -moz-linear-gradient(top, #3FA9DB, #2796CA, #3FA9DB);
    background: -ms-linear-gradient(top, #3FA9DB, #2796CA, #3FA9DB);
    background: -webkit-linear-gradient(top, #3FA9DB, #2796CA, #3FA9DB);
    background: linear-gradient(top, #3FA9DB, #2796CA, #3FA9DB);
    border-radius: 4px;


    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.46);
       -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.46);
            box-shadow: inset 0 1px rgba(255, 255, 255, 0.46);

    border: none;
    border-bottom: 1px solid rgba(60, 49, 83, 0.17);

    -webkit-background-size: 100% 200%;
    -moz-background-size: 100% 200%;
    background-size: 100% 200%;
    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
    -ms-transition: background .15s linear;
    transition: background .15s linear;
}

#main div.login input.signin:hover,
#main div.register input.signup:hover,
#main div.forget_password input.send:hover {
    background-position: 0 100%;
}

#main div.login input.signin:focus,
#main div.register input.signup:focus,
#main div.forget_password input.send:focus {
    border-top: none !important;
    border-bottom: 1px solid rgba(60, 49, 83, 0.17) !important;
}

#main div.login a.signup {
    color: #FFFFFF;
    display: block;
    width: 302px;
    font-size: 14px;
    text-align: center;
}

#main div.login img.code {
    width: 90px;
    height: 30px;
    margin: 4px 28px 0 0;
    float: right;
}

#main div.login div.auto {
    font-size: 12px;
    width: 302px;
    height: 16px;
    line-height: 16px;
    margin-top: 3px;
    margin-bottom: 14px;
    padding: 0 0 0 8px;
}

#main div.login div.auto input {
    width: auto;
    height: 16px;
    float: left;
    margin: 0;
}

#main div.login div.auto span {
    display: block;
    float: left;
    color: #fff;
    margin-left: 9px;
}

#main div.login div.auto a {
    display: block;
    float: right;
    color: #FFFFFF;
}

#main div.register {
    margin-top: 78px;
    color: #fff;
    font-size: 14px;
}

#main div.register div.msg {
    color: #fff7a0;
    font-size: 14px;
    line-height: 16px;
    float: right;
    margin-right: 25px;
    text-shadow: 1px 1px 4px rgba(32,28,2,0.75);
}

#main div.register input.uname,
#main div.register input.pwd,
#main div.register input.repwd {
    margin-bottom: 9px;
}

#main div.register input.email {
    margin-bottom: 20px;
}

#main div.register input.signin {
    margin-bottom: 11px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYTNlMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODZkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3fa3e2), color-stop(100%, #0086da));
    background-image: -moz-linear-gradient(#3fa3e2, #0086da);
    background-image: -webkit-linear-gradient(#3fa3e2, #0086da);
    background-image: linear-gradient(#3fa3e2, #0086da);
    border: solid 1px #04395a;
}

#main div.register div.readme {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-top: 3px;
    margin-bottom: 14px;
}

#main div.register div.readme input {
    width: auto;
    height: 16px;
    float: left;
    margin: 0;
}

#main div.register div.readme span {
    display: block;
    float: left;
    color: #fff;
    margin-left: 5px;
}

#main div.register .forget {
    display: block;
    width: 302px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}

#main div.forget_password {
    margin-top: 78px;
    color: #fff;
    font-size: 14px;
}

#main div.forget_password div.msg {
    color: #fff7a0;
    font-size: 14px;
    line-height: 16px;
    float: right;
    margin-right: 25px;
    text-shadow: 1px 1px 4px rgba(32,28,2,0.75);
}

#main div.forget_password p {
    font-size: 14px;
    line-height: 26px;
}

#main div.forget_password input.txt {
    margin-bottom: 9px;
}

#footer {
    color: #989898;
    font-size: 12px;
    position: absolute;
    bottom: 48px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer .copyright,
#footer .links {
    text-align: center;
}

#footer .links {
    margin: 0 0 14px 0;
}

#footer .links a {
    font-size: 13px;
    padding-bottom: 9px;
    margin: 0 24px 0 0;
}

#footer .links .international {
    display: inline-block;
    position: relative;
    text-align: left;
}

#footer .links .international .languages {
    display: none;
    position: absolute;
    left: 0;
    bottom: 23px;
    padding: 18px 11px 0 11px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgba(57, 57, 57, 0.5);
}

#footer .links .international .languages li {
    cursor: pointer;
    padding: 0 3px 13px 0;
}

#footer .links .international .languages li:hover a,
#footer .links .international.active .current:hover a {
    color: #01BDFF;
    font-size: 13px;
}

#footer .links .international .current {
    cursor: pointer;
    padding-bottom: 9px;
}

#footer .links .international.active .current {
    background-color: rgba(57, 57, 57, 0.5);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


#footer .links .international.active .current a {
    color: #FFFFFF;
}

#footer .links .international .current a {
    margin: 0;
    padding: 0 30px 9px 11px;
    text-align: left;
    background: 70px 9px url("../img/arrow.png") no-repeat;
}

#footer .links .international .languages li a {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

#footer .links a {
    color: #989898;
}

#footer .copyright span {
    font-size: 13px;
    margin-right: 10px;
}

.tip-yellowsimple {
    height: 27px;
    padding: 0 14px;
    border: 1px solid #565656;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image:    -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image:      -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    background-image:         linear-gradient(to bottom, #FFFFFF, #EEEEEE);
}

.tip-yellowsimple .tip-inner {
    color: #000000;
    font-size: 12px;
    line-height: 27px;
}

.tip-yellowsimple .tip-arrow-top {
    left: 14px;
}
