
{% extends 'deepin_bbs/base.html' %}
{% load staticfiles %}
{%  block head %}
    {% include 'deepin_bbs/header.html' %}
{% endblock %}
{% block nav %}
{% include 'deepin_bbs/nav.html' %}
{% endblock %}



{% block body %}
    {% block second_nav %}
        {% include 'deepin_bbs/second_nav.html' %}
    {% endblock %}
{% include 'deepin_bbs/body.html' %}
{% endblock %}

{% block footer %}
{% include 'deepin_bbs/footer.html' %}
{% endblock %}

{% block mask_layer %}
{% include 'deepin_bbs/mask_layer.html' %}
{% endblock %}

{% block scrolltop %}
{% include 'deepin_bbs/scrolltop.html' %}
{% endblock %}