<div class="mask-layer">
</div>
<div class="windows">
    <div class="window weixin">
        <div class="close"></div>
        <div class="frame">
            <div class="title-bar">
                <h1>微信</h1>
            </div>
            <div class="client">
                <p>
                    欢迎关注　"深度操作系统" 公众号,使用微信扫描下方二维码即可关注
                </p>
                <img src="./template/deepin/image/weixin.jpg" alt="deepin weixin">
            </div>
        </div>
    </div>
    <div class="window irc">
        <div class="close"></div>
        <div class="frame">
            <div class="title-bar">
                <h1>IRC</h1>
            </div>
            <div class="client">
                <p>
                    IRC为linux世界中最为常见的交流方式之一,它提供了一个类似于匿名聊天室的环境,欢迎您进入deepin IRC频道与大家进行交流．
                </p>

                <div>服务器: irc.freenode.net</div>
                <div>频道: <a class="channel" target="_blank"
                            href="http://webchat.freenode.net/?channels=deepin">#deepin</a></div>
            </div>
        </div>
    </div>
    <div class="window maillist">
        <div class="close"></div>
        <div class="frame">
            <div class="title-bar">
                <h1>邮件列表</h1>
            </div>
            <div class="client">
                <p>
                    邮件列表是linux世界中最为常见的交流方式之一,只要您加入了deepin邮件列表,就可以使用邮件的方式与大家进行交流.
                </p>
                <!--
                    <form>
                        <input id="users" type="checkbox"><label for="users">deepin users:
                        用于deepin用户的一般讨论,通用语言为英语</label> <br>
                        <input id="developers" type="checkbox"><label for="developers">deepin developers:
                        专用于deepin开发者讨论,通用语言为英语</label> <br>
                        <input id="email" type="email" placeholder="请输入您的邮箱地址">
                        <input id="submit" type="submit" value="订阅">
                    </form>
                -->
                <div>
                    ·<a href="https://groups.google.com/forum/#!forum/deepinusers">deepin users</a>：用于deepin用户的一般讨论。
                </div>
                <div>
                    ·<a href="https://groups.google.com/forum/#!forum/deepin-developers">deepin developers</a>：专用于deepin开发者讨论。
                </div>
            </div>
        </div>
    </div>
</div>