{% extends 'common/base.html' %}


{% block navbar %}
{% include 'common/navbar.html' %}
{% endblock %}

{% block panel_heading %}
    {% include 'common/panel_heading.html' %}
{% endblock %}

{% block panel_second_heading %}
    {% include 'common/second_panel_heading.html' %}
{% endblock %}

{% block panel_body %}
    {% include 'common/panel_body.html' %}
{% endblock %}

{% block panel_paganation %}
    {% include 'common/paganation.html' %}
{% endblock %}

{% block panel_footer %}
    {% include 'common/footer.html' %}
{% endblock %}