<div class="panel-heading" style="height: 79px">
        <h3 class="panel-title">版面导航</h3>
        <a href="{% url 'bb:index' %}">最新回复</a>
        <em>| </em>
        <a href="{% url 'bb:forum_view' 19 %}" style="border-style: dashed">资料分享</a>
        <em>| </em>
        <a href="{% url 'bb:forum_view' 20 %}" style="border-style: dashed; border-color: #ff0000">社区活动</a>
        <em>| </em>
        <a href="{% url 'bb:category_all' %}">全部板块</a>
        <span id="create_topic">
            <a id="post_topic" href="{% url 'bb:pre_create_topic' %}">发新贴</a>
        </span>
</div>