<div class="panel-heading" id='index_info' style="background-color: #eee">
        <p>
            今日:
            <em>{{ topics_count }}</em>
                <span class="pipe">
                |
            </span> 昨日:
            <em></em>
                <span class="pipe">
                |
            </span> 帖子:
            <em>{{ posts_count }}</em>
                <span class="pipe">
                |
            </span> 会员:
            <em>{{ users_count }}</em>
                <span class="pipe">
                |
            </span> 欢迎新会员:
            <em></em>
        </p>
    </div>