{% extends 'common/base.html' %}
{% load staticfiles %}

{% block navbar %}
    {% include 'common/navbar.html' %}
{% endblock %}

{% block panel_heading %}
    {% include 'common/panel_heading.html' %}
{% endblock %}

{% block panel_body %}
    <div class="panel-body" style="height: 1000px;  margin-left: -11px;margin-right: -11px">
        {% for c in cf %}
        {% if c.forum_set.all %}
        <div class="bm bmw flg cl">
            <div class="bm_h cl">
                <h2>
                    <a href="{% url 'bbs:category_view' c.id %}">{{ c.title }}</a>
                </h2>
            </div>

            {% for forum in c.forum_set.all %}
            <div id="category_" class="bm_c">
                <table cellpadding="0" cellspacing="0" class="fl_tb">
                    <tbody>
                        <tr>
                            <td class="fl_g" width="49.9%">
                                <div class="fl_icn_g" style="width: 65px;">
                                    <a href="{% url 'bbs:forum_view' forum.id %}">
                                        <img src="/media/{{ forum.avatar }}" align="left" alt="">
                                    </a>
                                </div>
                                <dl style="margin-left: 65px">
                                    <dt>
                                        <a href="{% url 'bbs:forum_view' forum.id %}">{{ forum }}</a>
                                        <em class="xw0 xi1" title="">0</em>
                                    </dt>
                                    <dd>解决多平台的安装问题</dd>
                                    <dd>
                                        <em>
                                            主题：0 ,
                                        </em>
                                        <em>
                                            帖子数量：
                                            <span>0</span>
                                        </em>
                                    </dd>
                                </dl>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        {% endif  %}
        {% endfor  %}
        </div>
    </div>
{% endblock %}