{% extends 'common/base.html' %}
{% load staticfiles %}

{% block navbar %}
    {% include 'common/navbar.html' %}
{% endblock %}

{% block panel_heading %}
    {% if forum %}
        <div class="panel-heading" style="height: 79px">
            <h3 class="panel-title">版面导航</h3>
            <a href="{% url 'bbs:index' %}">首页</a>
            <em>> </em>
            <a href="{% url 'bbs:category_view' forum.category.id %}">{{ forum.category.title }}</a>
            <em>> </em>
            <a href="{% url 'bbs:forum_view' forum.id %}">{{ forum.title }}</a>
        <span id="create_topic">
            <a id="post_topic" href="{% url 'bbs:create_topic' forum.id %}">发新贴</a>
        </span>
        </div>
    {% endif %}
{% endblock %}

{% block panel_second_heading %}
    <table class="table">
        <tbody>
        <tr>
            <td><a><img src="/media/{{ forum.avatar }}" style="margin-left: -1px;"></a></td>
            <td><a style="font-size: 20px;margin-left: -585px; margin-bottom: -40px; position: relative">{{ forum.title }}</a></td>
            <td><p style="margin-left: -890px; margin-top: 40px">{{ forum.description }}</p></td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block panel_body %}
    {% if topics %}
    <div class="panel-body" style="height: 1000px; margin-left: -11px; margin-right: -11px;">
        <table class="table table-hover" style="">
            <caption>欢迎加入QQ群：888888</caption>
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
                {% for t in forum.topic_set.all %}
            <tbody>
            <tr>
                <td><a href="{% url 'bbs:topic_view' t.id %}">{{ t.title }}</a></td>
            </tr>
            </tbody>
                {% endfor %}
        </table>
    </div>
    {% else %}
        <div>
            <p>还没发表任何话题, 请选择发新帖</p>
        </div>
        <br>
    {% endif %}
{% endblock %}

{% block panel_paganation %}
    {% include 'common/paganation.html' %}
{% endblock %}

{% block panel_footer %}
    {% include 'common/footer.html' %}
{% endblock %}