{% extends 'common/base.html' %}

{% load staticfiles %}

{% block header_ext %}
    {{ form.media }}
{% endblock %}

{% block nav %}
    {% include 'common/navbar.html' %}
{% endblock %}

{% block panel_heading%}
    {% include  'common/panel_heading.html'%}
{% endblock %}

{% block panel_body %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">发新的主题之前请选择板块和子板块</h3>
            </div>
            <div class="panel-body" style="height: 900px; ">
                <form role="form" method="post" action="{% url 'bbs:create_topic' 19 %}">
                    {% csrf_token %}
                    <select class="form-control">
                        {% for c in categories %}
                        <option>{{ c }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control">
                        {% for c in categories %}
                        {% for forum in c.forum_set.all %}
                        <option>{{ forum }}</option>
                        {% endfor %}
                        {% endfor %}
                    </select>
                    {{ form.as_p }}
                    <button class="btn btn-info" type="submit">create a now topic</button>
                </form>
            </div>
        </div>
{% endblock %}

{% block panel_footer %}
    <div class="panel-footer">
        &#9400;2015 MixBBS Power by Django 1.8
    </div>
{% endblock %}