{% extends 'common/base.html' %}

{% block header_ext %}
    {{ form.media }}
{% endblock %}

{% block navbar %}
    {% include 'common/navbar.html' %}
{% endblock %}

{% block panel_heading %}

        <div class="panel-heading" style="height: 79px">
            <h3 class="panel-title">版面导航</h3>
            <a href="{% url 'bbs:index' %}">首页</a>
            <em>> </em>
            <a href="{% url 'bbs:category_view' t_forum.category.id %}">{{ t_forum.category.title }}</a>
            <em>> </em>
            <a href="{% url 'bbs:forum_view' t_forum.id %}">{{ t_forum.title }}</a>
        <span id="create_topic">
            <a id="post_topic" href="{% url 'bbs:create_topic' t_forum.id %}">发新贴</a>
        </span>
        </div>
{% endblock %}


{% block panel_body %}
    <div class="panel-body" style="margin-left: -11px;margin-right: -11px">
        <div>
            {% if topic %}
                <table>
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <td>作者：{{ topic.author }}</td>
                        </tr>
                        <tr>
                            <td>发帖内容： {{ topic.content }}</td>
                        </tr>
                        <tr>
                            <td>发帖时间：{{ topic.time_created }}</td>
                        </tr>
                        <tr>
                            <td>阅读次数：{{ topic.view_count }}</td>
                        </tr>
                        {% for p in posts %}
                        <tr>
                            <td>帖子回复内容：{{ p|safe }}</td>
                        </tr>
                        <tr>
                            <td>回帖作者：{{ p.user }}</td>
                        </tr>
                        <tr>
                            <td>回帖时间：{{ p.time_created }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block panel_paganation %}
    <div class="panel-footer" style="background-color: #f5f7fa">
        <form method="post" action="{% url 'bbs:create_topic_reply' topic.id %}">
            {% csrf_token %}
             {{ form.as_p}}
            <button class="btn btn-info" type="submit">create a now topic</button>
        </form>
    </div>
{% endblock %}

{% block panel_footer %}
    {% include 'common/footer.html' %}
{% endblock %}