{% extends 'common/base.html' %}

{% block navbar %}
{% include 'common/navbar.html' %}
{% endblock %}

{% block panel_heading %}
    {% include 'common/panel_heading.html' %}
{% endblock %}

{% block panel_body %}
    {% if category_single %}
    <div class="panel-body">
        <p><a href="{% url 'bbs:category_view' category_single.id %}">{{ category_single.title }}</a></p>

        <!-- Table -->
        <table class="table table-hover">

            {% for forum in category_single.forum_set.all %}
            <tbody>
               <tr>
                   <td><a href="{% url 'bbs:forum_view' forum.id %}"><img src="/media/{{ forum.avatar }}" align="left"></a></td>
                   <td><a href="{% url 'bbs:forum_view' forum.id %}">{{ forum }}</a></td>
               </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% endif %}
{% endblock %}

{% block panel_footer %}
    {% include 'common/footer.html' %}
{% endblock %}